body{
    margin:0%;
    font-family:'Poppins', sans-serif;
}


h1{
    font-size: 40px;
    padding-left: 10%;

}

.flixible-container{
    display: flex;
    margin-bottom: 100px;
     
}

.top-banner{
    background-image: url(shapes/Group\ 8450.png);
    background-position: 8px;
    background-repeat: no-repeat;
}



.Order-now{
    text-decoration: none;
    background-color: orange;
    padding: 10px 15px;
    border-radius: 10px;
    background-image: linear-gradient(tomato orange);
    color: rgb(0, 0, 0);
    font-size: 14px;
}




h1.about{
    padding-left: 30%;
    width: 70%;    
}



.color{color: orange;} 

h4 { padding-left: 10%;
    padding-right: 30%;
}


p{
    padding-right: 20px;

}

.half-width{
    width: 100%;
    margin: 10px;
}


.footer{
    text-align: center;
}


